/* Palette de couleurs #D92332 #D94350 #D9777F #262526 #F2F2F2 */
/* Fonts : Radjdhani / Barlow */

header {
    background-color: #F2F2F2;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-right: 10px;
}

.logo-container img {
    max-width: 100%; /* Utilise toute la largeur du conteneur */
    height: auto;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-nav ul li {
    margin-right: 5px;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.nav-link {
    color:#262526;
    font-weight: bold;
    text-decoration: none;
}

.espace-pro {
    margin-right: 40px;
}

.btn-espace-pro {
    background-color: #D92332;
    color: #F2F2F2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

body {
    background-color: #262526;
    max-width: 100%; /* Utilise toute la largeur disponible */
    margin: auto;
    padding: 0 200px; /* Ajoute un padding sur les côtés pour un meilleur espacement */
}

section {
    background-color: #D9777F;
    margin-bottom: 20px;
    padding: 20px; /* Ajoute un padding pour un meilleur espacement */
}

.service {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.service h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.car-button {
    color: #262526;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #262526;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.car-button .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.car-button:hover {
    color: #262526;
}

.view-all-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #D92332;
    color: #F2F2F2;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
